/bin/
/obj/
Student_Grade_Management_System/.vs/Student_Grade_Management_System/v17/.suo
Student_Grade_Management_System/.vs/Student_Grade_Management_System/DesignTimeBuild/.dtbcache.v2
Student_Grade_Management_System/.vs/Student_Grade_Management_System/v17/.futdcache.v2
Student_Grade_Management_System/obj/Student_Grade_Management_System.csproj.nuget.dgspec.json
Student_Grade_Management_System/obj/Student_Grade_Management_System.csproj.nuget.g.props
Student_Grade_Management_System/obj/Student_Grade_Management_System.csproj.nuget.g.targets
Student_Grade_Management_System/obj/project.assets.json
Student_Grade_Management_System/obj/project.nuget.cache
Student_Grade_Management_System/obj/Debug/net8.0/Student_Grade_Management_System.assets.cache
