@{
    ViewData["Title"] = "Students";
}

<h2>Mokinių sąrašas</h2>
<a asp-controller="Profile" asp-action="Index" class="btn btn-primary">Mokinio profilis</a>
<p>Administratorius:</p>
<a asp-controller="Students" asp-action="Add" class="btn btn-primary">Naujo mokinio pridėjimas</a>