@model ErrorViewModel
@{
    ViewData["Title"] = "Klaida!";
}

<h1 class="text-danger">Klaida.</h1>
<h2 class="text-danger">Apdorojant jūsų užklausą įvyko klaida.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Klaidos identifikatorius:</strong> <code>@Model.RequestId</code>
    </p>
} 