@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mokinių įvertinimų valdymo sistema</h1>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <!-- Button to navigate to Profile page -->
    @if (ViewData["UserType"]?.ToString() == "Student"){
        <a asp-controller="Profile" asp-action="Index" class="btn btn-primary">Mano profilis</a>
    }
</div>
