@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <!-- Button to navigate to Profile page -->
    <a asp-controller="Profile" asp-action="Index" class="btn btn-primary">Mano profilis</a>
    <a asp-controller="Schedule" asp-action="Index" class="btn btn-primary">Mano tvarkaraštis</a>
</div>
