@{
    ViewData["Title"] = "Marks";
}

<h2>Įvertinimų langas</h2>
<a asp-controller="Marks" asp-action="ClassMarks" class="btn btn-primary">Įvesti įvertinimus klasei</a>
<a asp-controller="Marks" asp-action="Graphic" class="btn btn-primary">Grafinis įvertinimų vaizdavimas</a>