@{
    ViewData["Title"] = "test";
}

<h2>Mokytojo įtraukimas į sistemą</h2>
<!-- useless button -->
<a asp-controller="Teachers" asp-action="Add" class="btn btn-primary">Įtraukti naują mokytoją į sistemą</a>
