@{
    ViewData["Title"] = "test";
}

<h2>Mokytojų priskyrimas prie klasės</h2>
<a asp-controller="Teachers" asp-action="ManualAssign" class="btn btn-primary">Rankinis priskyrimas</a>
<a asp-controller="Teachers" asp-action="AutoAssign" class="btn btn-primary">Automatinis priskyrimas</a>
