@{
    ViewData["Title"] = "Mokytojo paieška";
}

<h2>Mokytojo paieška </h2>
<!-- fake search form -->
<form method="post">
    <div class="form-group">
        <label for="search">Paieška</label>
        <input type="text" class="form-control" id="search" name="search" placeholder="Įveskite mokytojo vardą ar pavardę">
    </div>
    <button type="submit" class="btn btn-primary">Ieškoti</button>
    </form>
