@{
    ViewData["Title"] = "Dalykai";
}

<h2>Dalykai</h2>
<p>Administratorius:</p>
<a asp-controller="Subject" asp-action="Add" class="btn btn-primary">Pridėti naują dalyką</a>
<a asp-controller="Subject" asp-action="Remove" class="btn btn-primary">Šalinti dalyką</a>