@{
    ViewData["Title"] = "Profile";
}

<h2>Profilis</h2>
<a asp-controller="Students" asp-action="Extract" class="btn btn-primary">Duomenų ištraukimo langas</a>
<a asp-controller="Students" asp-action="Change" class="btn btn-primary">Duomenų keitimo langas</a>