@{
    ViewData["Title"] = "Classes";
}

<h2>Klasių paieška</h2>
<a asp-controller="Classes" asp-action="Add" class="btn btn-primary">Naujų klasių pridėjimo langas</a>
<a asp-controller="Classes" asp-action="Create" class="btn btn-primary">Klasės tvarkaraščio sudarymo langas</a>
<a asp-controller="Students" asp-action="Assign" class="btn btn-primary">Mokinio priskyrimo klasei langas</a>